doctype 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="normalize.css")
  body
    #wrap
      header
        h1 Plataforma de Evaluación JUDC 2013
          form(action='/autenticar', method='post')
            label(for='txtUsuario')
              input(type='text', id='txtUsuario', name='txtUsuario', placeholder='usuario')
            label(for='txtClave')
              input(type='password', id='txtClave', name='txtClave', placeholder='contraseña')
            button(type='submit', class='submit') Entrar
      section
        article#texto
          p
            strong La La JUDC se concibe como un evento académico/científico estudiantil, generado de la actividad investigativa durante el proceso de enseñanza-aprendizaje, bajo la tutoría de un docente como tutor, con un carácter emprendedor e innovador y con miras a consolidar la formación de los futuros profesionales.

          p
            h2 Los Objetivos
          p     
                Es Crear en el estudiante universitario un genuino interés por el quehacer
                Científico y técnico,  a fin  de contribuir a su desarrollo integral como futuro profesional.
          p   
            es Promover la participación de los estudiantes  universitarios, en actividades de investigación, innovación, emprendedurismo y desarrollo de la propiedad intelectual con la finalidad de elevar sus niveles científicos y académicos. 
          p    
            es Vincular a la comunidad universitaria con la realidad nacional e internacional, a través del estudio de problemáticas y fenómenos en cada una de las áreas del conocimiento que presente interés para los estudiantes.
          p                                                              
            es Contribuir al desarrollo económico, político, social y ambiental del país.

        figure#imagen
          img(src="judc.jpg")

      content
        nav
          ul
            li
              a(href="/") Inicio
            li 
              a(href="/nuevo-trabajo") Inscripición
            li 
            <!--  a(href='/pantalla') Pizarra 
      footer 
        i
          &copy; 2013 | UNAN FAREM Chontales | Diseño y programación : Jonathán Moreno
        block text

