!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #wrap
      header
        h1 Ejemplo con Node.js y Jade
         
      content
        nav
          ul
            li
              a(href="/") Inicio
            li 
              a(href='/formulario') Formulario
            li
              a(href='/elementos') Elementos
        block text