doctype 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="normalize.css")
    link(rel="stylesheet", href="tabla.css")
    link(rel="stylesheet", href="bootstrap.min.css")
    script(type='text/javascript')
      function sumar () {
        var a = document.getElementById("tema");  
        var b = document.getElementById("objetivos");  
        var c = document.getElementById("nota1");  
        c.value = parseInt(a.value) + parseInt(b.value);}

      var nav4 = window.Event ? true : false;
      function acceptNum(evt){
       // NOTE: Backspace = 8, Enter = 13, '0' = 48, '9' = 57
        var key = nav4 ? evt.which : evt.keyCode;
        return (key <= 13 || (key >= 48 && key <= 57));}
     

      

  body()
    #wrap
      header
        h1 Plataforma de Evaluación JUDC 2013

      section
        article#texto3
          h1 Asignación de notas
          hr
          form(method="post", enctype="multipart/form-data", name="frm1")
            h2 Ubique la nota para el trabajo asignado
            p
              label(for="nota1", style="cursor: hand; color: #ff0000; font-family: Arial; text-decoration: underline;") Tema de investigación:
                p
                  input(type="text", name="n3", value=usuarios.n3, disabled, style="color: #000000; font-size: 18px;font-weight:bold;text-align: left;", size=150)
            p 
              label(for="nota1", style="cursor: hand; color: #ff0000; font-family: Arial; text-decoration: underline;") Tipo de jurado:   
              p
                select(id="mesa", name='mesa', style="color: #000000; font-size: 20px;font-weight:bold;text-align: center;")
                  option Presidente
                  option Secretario
                  option Vocal
            p
              label(for="nota1", style="cursor: hand; color: #ff0000; font-family: Arial; text-decoration: underline;") Nota:
                p
                  input(type="text", name="nota1",id="nota1", value="", onkeypress="return acceptNum(event)", maxlength="3", style="color: #000000; font-size: 50px;font-weight:bold;text-align: center;")
            hr
            button#btn.btn-success(type='submit', class='btn btn-primary', style="color: #000000; font-size: 30px;font-weight:bold;text-align: center;") Mandar los datos        

      content

        block text