doctype 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="style.css")
 
  body
    #wrap
      header
        h1 Plataforma de Evaluaci칩n JUDC 2013

      section
        article#texto3
          h2 Editar Usuario
          hr
          form(method="post")
            p
              label(for="dato",style="color: #ff0000; font-size: 18px;font-weight:bold;text-align: center;") Nombre:
                input(type='text', name='dato', value=usuarios.dato, style="color: #000000; font-size: 20px;font-weight:bold;text-align: center;")
            p
               label(for="nombre",style="color: #ff0000; font-size: 18px;font-weight:bold;text-align: center;") Usuario:
                input(type='text', name='nombre', value=usuarios.nombre, style="color: #000000; font-size: 20px;font-weight:bold;text-align: center;", disabled)
            p
               label(for="password",style="color: #ff0000; font-size: 18px;font-weight:bold;text-align: center;") Password:
                input(type='text', name='password', type='password', value=usuarios.password, style="color: #000000; font-size: 20px;font-weight:bold;text-align: center;", disabled)
            p
              input(type='submit', value='Guardar',style="color: #000000; font-size: 30px;font-weight:bold;text-align: center;")

      content
        
      footer 
        i
          &copy; 2013 | UNAN FAREM Chontales | Dise침o y programaci칩n : Jonath치n Moreno
        block text




