body {
  padding: 0px;
  font: 16px , Tahoma, Helvetica, Arial, sans-serif;
  text-align: center;

}

a {
  color: #076ce8;
}
a:hover{
	color: #000000;
}
h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #00CFFF;
}
header{
	padding: 0.5em 0;
	width: 100%;
	border-top:7px solid #505559;
    margin:0 auto;
    width:100%;
    background: #262424;
    height: 25%;
    font: 12px arial, sans-serif;
    text-align: left;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;

}
header form {
     display: inline-block;
     padding: 0em 0em 0em 8em; 
     height: 40px; 
     font: 12px , Tahoma, Helvetica, Arial, sans-serif;
     
    
 }
 header form input {
     margin-right: 10px; 
     padding-top: -10px auto;
     border: 8px solid #000;
 }
  header form select.option {
   font: 8px , Tahoma, Helvetica, Arial, sans-serif;
 }

 header form .submit {
     height: 23px;
     vertical-align: center;
     background: #1636fd; 
     color: #fff;
     border: 0.5px solid #ddd;
     -moz-border-radius: 2px;    
     border-radius: 2px;
     font-size: 12px;
     }
 header form #txtUsuario, header form #txtClave {
     width: 250px;
     border: 1.5px solid #000000;
     padding: 3px 0 3px 0;
     margin-bottom: -1px;
     font-size: 14px;
 }
nav
{
	background: rgba(0,0,0,0.8);
	bottom: 0;
	color: #000;
	font-size: 1.2em;
	left: 0;
	padding: 1em 0;
	position: fixed;
	width: 100%;
}
nav ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}
nav ul li
{
	display: inline-block;
}
nav ul li a
{
	background: #1636fd;
	border-radius: 0.5em;
	color: white;
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 0.5em 1em;
	text-decoration: none;
	-webkit-transition:all 1.2s ease-in;
}
nav li a:hover
{
	background: #fff;
	color:black;
	transform:scale(1.2) rotate(-5deg);
	-webkit-transform:scale(1.2) rotate(-5deg);

}
#texto{
	background: rgba(0,0,0,0.6);
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	margin: 0 2% 6em 1em;
	padding: 1em;
	text-align: left;
	width: 40%;

	
}
#texto2{
	background: rgba(25,0,10,0.8);
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	margin: 0 2% 6em 1em;
	padding: 1em;
	text-align: left;
	width: 95%;
	overflow: scroll;
	
}
#texto3{
	background: rgba(182,192,196,0.78);
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	margin: 0 2% 6em 1em;
	padding: 1em;
	text-align: left;
	width: 95%;
	
}
#imagen
{
	background: white;
	color: #222;
	text-align: left;
	width: 50%;

}
#texto, #imagen
{
	display: inline-block;
	vertical-align: top;

}
#imagen img
{
	max-width: 100%;
	border-radius: 0.5em;
}